body {
    background-color: #ffffff;
    /*font-size: 12px;*/
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    /*font-size:  16px;*/
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #036fab;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
.ui-widget, .ui-widget .ui-widget {
    font-size: 80% !important;
}

.ui-dialog-content {
    color: #000000;
    font-size: 150%;
}

.customDialog {
    background-color: #ffffff !important;
}

.customDialog > .ui-dialog-titlebar > span {
    font-size: 120% !important;
    color: #036fab !important;
    text-align: center !important;
}

.customDialog .ui-dialog-content {
    font-size: 150% !important;
    color: #ece3a5 !important;
    
}

.customPanel {
    background-color: #ffffff !important; 
}

.customPanel .ui-panel-titlebar {
    background-color: #008b8b !important;
    color: #ffffff !important; 
}

.customPanel .ui-panel-content .ui-button {
    background-color: #008b8b !important;
    color: #ffffff !important; 
    font-size: 110% !important;
}