<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VulnerabilityServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.servlets.VulnerabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.servlets.ConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>test.pack.AppExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScannerServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.servlets.ScannerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobScheduleServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.scheduled.JobScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestReportServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.servlets.TestReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>org.banxico.ds.sisal.servlets.JobServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VulnerabilityServlet</servlet-name>
        <url-pattern>/admin/vulnerability.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationServlet</servlet-name>
        <url-pattern>/admin/configuration.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ScannerServlet</servlet-name>
        <url-pattern>/scanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobScheduleServlet</servlet-name>
        <url-pattern>/JobScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestReportServlet</servlet-name>
        <url-pattern>/TestReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/JobServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AppIndex.html</welcome-file>
    </welcome-file-list>
</web-app>
