<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VulnerabilityServlet</servlet-name>
        <servlet-class>mx.org.banxico.sisal.servlets.VulnerabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>test.pack.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>test.pack.CRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurationServlet</servlet-name>
        <servlet-class>mx.org.banxico.sisal.servlets.ConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>test.pack.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExceptionServlet</servlet-name>
        <servlet-class>test.pack.ExceptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>test.pack.AppExceptionHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VulnerabilityServlet</servlet-name>
        <url-pattern>/admin/vulnerability.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/CRUDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurationServlet</servlet-name>
        <url-pattern>/admin/configuration.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/admin/url/Servlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionServlet</servlet-name>
        <url-pattern>/ExceptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AppIndex.html</welcome-file>
    </welcome-file-list>
</web-app>
